apiVersion: "v1"
kind: "PersistentVolume"
metadata:
  name: "pvc-grafana"
  labels:
    name: "pvc-grafana"
spec:
  capacity:
    storage: "1Gi"
  accessModes:
    - "ReadWriteOnce"
  persistentVolumeReclaimPolicy: Retain
  awsElasticBlockStore: 
    fsType: "ext4"
    volumeID: {{ default "" .Values.server.ebsPersistentVolumeID | quote }}
