{{- range $index, $proc := $.Values.app.procs }}
{{- $proc_name := (printf "%s-%s" $.Values.app.name (index $proc "name")) -}}
{{- $proc_terminating_timeout := (index $proc "terminating_timeout") }}
{{- $proc_command := (index $proc "command") -}}
{{- $proc_metrics := (index $proc "metrics") -}}

{{- $proc_readiness := (index $proc "readiness") -}}
{{- $proc_liveness := (index $proc "liveness") -}}

{{- $proc_port := (index $proc "port") -}}
{{- $proc_ports := (index $proc "ports") -}}
{{- $proc_replicas := (index $proc "replicas") -}}

{{- $proc_cpu_request := (index $proc "cpu_request") -}}
{{- $proc_memory_request := (index $proc "memory_request") -}}

{{- $proc_cpu_limit := (index $proc "cpu_limit") -}}
{{- $proc_memory_limit := (index $proc "memory_limit") -}}

{{- $proc_node_selectors := (index $proc "node_selectors") -}}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{ $proc_name }}
  labels:
    app: {{ $proc_name }}
    proc: {{ index $proc "name" }}
    chart: "{{ $.Chart.Name }}-{{ $.Chart.Version }}"
    release: "{{ $.Release.Name }}"
    heritage: "{{ $.Release.Service }}"
spec:
  replicas: {{ default 1 $proc_replicas }}
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  selector:
    matchLabels:
      app: {{ $proc_name }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Chart.Name "/templates/secret.yaml") $ | sha256sum }}
        {{- if $proc_metrics }}
        prometheus.io/scrape: "true"
        {{- if (index $proc_metrics "port") }}
        prometheus.io/port: "{{ index $proc_metrics "port" }}"
        {{- end }}
        {{- if (index $proc_metrics "path") }}
        prometheus.io/path: "{{ index $proc_metrics "path" }}"
        {{- end }}
        {{- end }}
      labels:
        app: {{ $proc_name }}
        chart: "{{ $.Chart.Name }}-{{ $.Chart.Version }}"
        release: "{{ $.Release.Name }}"
        heritage: "{{ $.Release.Service }}"
    spec:
      terminationGracePeriodSeconds: {{ default 60 $proc_terminating_timeout }}
      {{- if $.Values.files }}
      volumes:
      - name: "kubestore"
        secret:
          secretName: "{{ $.Values.app.name }}-files"
      - name: "shared-data"
        emptyDir: {}
      {{- end }}
      {{- if $proc_node_selectors}}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              {{- range $key, $value := $proc_node_selectors }}
              - key: {{ $key }}
                operator: In
                values:
                - {{ $value }}
              {{- end }}
      {{- else }}
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: exclusive
                operator: DoesNotExist
      {{- end }}
      containers:
      - name: {{ (index $proc "name") }}
        {{- if $proc_command }}
        {{- include "command_labels" $proc_command | indent 8 }}
        {{- end }}
        ports:
        {{- if $proc_port}}
        - containerPort: {{ default 3000 $proc_port }}
          name: http
        {{- end}}
        {{- if $proc_ports}}
          {{- range $index, $port := $proc_ports }}
        - containerPort: {{ $port }}
          name: http{{ $index }}
          {{- end}}
        {{- end}}

        {{- if $proc_readiness}}
        readinessProbe:
          {{- if eq "tcp" (index $proc_readiness "type") }}
          tcpSocket:
            port: {{ default 80 (index $proc_readiness "port") }}
          {{- else}}
          exec:
          {{- include "command_labels" (index $proc_readiness "command") | indent 12 }}
          {{- end }}
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: {{ default 10 (index $proc_readiness "threshold") }}
        {{- end}}

        {{- if $proc_liveness}}
        livenessProbe:
          {{- if eq "tcp" (index $proc_liveness "type") }}
          tcpSocket:
            port: {{ default 80 (index $proc_liveness "port") }}
          {{- else}}
          exec:
          {{- include "command_labels" (index $proc_liveness "command") | indent 12 }}
          {{- end }}
          initialDelaySeconds: 5
          periodSeconds: 5
          failureThreshold: {{ default 10 (index $proc_liveness "threshold") }}
        {{- end}}

        volumeMounts:
        {{- if $.Values.files }}
        - name: "kubestore"
          mountPath: "/etc/kubestore"
          readOnly: true
        {{- end }}
        - name: "shared-data"
          mountPath: "/shared"
        resources:
          requests:
            {{- if $proc_cpu_request }}
            cpu: "{{ $proc_cpu_request }}"
            {{- else if $.Values.config.cpu_request }}
            cpu: "{{ $.Values.config.cpu_request }}"
            {{- end }}

            {{- if $proc_memory_request }}
            memory: "{{ $proc_memory_request }}"
            {{- else if $.Values.config.memory_request }}
            memory: "{{ $.Values.config.memory_request }}"
            {{- end }}
          limits:
            {{- if $proc_cpu_limit }}
            cpu: "{{ $proc_cpu_limit }}"
            {{- else if $.Values.config.cpu_limit }}
            cpu: "{{ $.Values.config.cpu_limit }}"
            {{- end }}

            {{- if $proc_memory_limit }}
            memory: "{{ $proc_memory_limit }}"
            {{- else if $.Values.config.memory_limit }}
            memory: "{{ $.Values.config.memory_limit }}"
            {{- end }}
        {{- include "image_labels" $ | indent 8 }}
        {{- include "env_labels" $ | indent 8 }}
      {{- if $proc_metrics }}
      {{- $proc_metrics_command := (index $proc_metrics "command") -}}
      {{- if $proc_metrics_command }}
      - name: metric-container
        {{- include "command_labels" $proc_metrics_command | indent 8 }}
        ports:
          - containerPort: {{ default 9102 (index $proc_metrics "port") }}
            name: http
        volumeMounts:
        {{- if $.Values.files }}
        - name: "kubestore"
          mountPath: "/etc/kubestore"
          readOnly: true
        {{- end }}
        - name: "shared-data"
          mountPath: "/shared"
        {{- include "image_labels" $ | indent 8 }}
        {{- include "env_labels" $ | indent 8 }}
      {{- end }}
      {{- end }}
...{{ "\n" }}
{{- end }}
