apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ .Values.app.name }}
  annotations:
    traefik.frontend.rule.type: {{ default "PathPrefix" .Values.config.traefik_rule_type }}
  labels:
    app: {{ .Values.app.name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  rules:
  - host: {{ .Values.app.host }}
    http:
      paths:
      - path: /{{ .Values.app.name }}
        backend:
          serviceName: {{ .Values.app.name }}
          servicePort: http
