apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  {{- if .Values.app.host }}
  annotations:
    {{- include "external_dns" $ | indent 4 }}
  {{- end }}
  labels:
    app: {{ .Values.app.name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
spec:
  type: {{ .Values.config.service_type }}
  selector:
    app: {{ .Values.app.name }}
  ports:
  - name: http
    port: 80
    targetPort: {{ default 3000 .Values.config.containerPort }}
  - name: rpc
    port: 50051
    targetPort: {{ default 50051 .Values.config.rpcPort }}
