{{- range $index, $proc := $.Values.app.procs }}
{{- $proc_name := (printf "%s-%s" $.Values.app.name (index $proc "name")) -}}
{{- $proc_port := (index $proc "port") -}}
{{- $proc_ports := (index $proc "ports") -}}

{{- if or ($proc_port) ($proc_ports) }}

{{- $proc_command := (index $proc "command") -}}
{{- $proc_host := (index $proc "host") -}}
{{- $service_type := (index $proc "serviceType") -}}
{{- $load_balancer_timeout := (index $proc "loadBalancerTimeout") -}}
---
apiVersion: v1
kind: Service
metadata:
  name: {{ $proc_name }}
  annotations:
    {{- if $proc_host }}
    {{- include "external_dns" $proc_host | indent 4 }}\
    {{- end}}
    {{- if $load_balancer_timeout}}
    service.beta.kubernetes.io/aws-load-balancer-connection-idle-timeout: {{ $load_balancer_timeout }}
    {{- end}}
  labels:
    app: {{ $proc_name }}
    chart: "{{ $.Chart.Name }}-{{ $.Chart.Version }}"
    release: "{{ $.Release.Name }}"
    heritage: "{{ $.Release.Service }}"
spec:
  type: {{ default "ClusterIP" $service_type }}
  selector:
    app: {{ $proc_name }}
  ports:
  {{- if $proc_port}}
  - name: http
    port: {{ $proc_port }}
    targetPort: {{ $proc_port }}
  {{- end}}
  {{- if $proc_ports}}
    {{- range $index, $port := $proc_ports }}
  - name: http{{ $index }}
    port: {{ $port }}
    targetPort: {{ $port }}
    {{- end}}
  {{- end}}
...{{ "\n" }}
{{- end }}
{{- end }}
