# Kubernetes config
# Should not be updated once installed
config:
  # Path to private docker repo - required
  image_repo: private-registry.com/repo/path

  # Kubernetes service type: use ClusterIP by default to prevent unauthorized request
  # @see http://kubernetes.io/docs/user-guide/services/
  service_type: ClusterIP

  # resources request
  cpu_request: 10m
  memory_request: 20Mi

  # port to be exposed in `web` container
  containerPort: 3000

  # gRPC port
  rpcPort: 50051

  # deployment
  terminationGracePeriodSeconds: 60

# App info
app:
  # app name (you don't say?) - required
  name: app-name

  # app version - required
  version: 1.0.0

  # additional versions to be added in the release
  # additional_versions: ["1.1.0"]

  # override container's command, leave empty or unset for default CMD in Dockerfile
  # command: ["ruby", "/somewhere/i/belong.ruby"]

  # host name to be used with ExternalDNS on AWS
  # app can be accessed at http://some.host.com
  # host: some.host.com

  # Uncomment if you want to add worker containers
  # The `web` container will always be created
  #workers:
    #notification_job: ["bundle", "exec", "sidekiq", "-r", "/app/lib/eh_notification.rb", "/app/config/sidekiq.rb"]
    #send_mail_job: ["bundle", "exec", "sidekiq", "-r", "/app/lib/send_mail.rb", "/app/config/sidekiq.rb"]
    #will_not_be_included:
    #rpc: ["bundle", "exec", "xxx"]

  # Uncomment if you want to add cron job containers
  # cron_jobs:
  #   say_hello:
  #     schedule: "*/1 * * * *"
  #     command: ["/bin/sh", "-c", "echo hello world \\($(date)\\)"]
  #   run_task_1:
  #     schedule: "*/1 * * * *"
  #     command: ["/bin/sh", "-c", "bundle exec rake eh:do_something"]
  #   run_task_2:
  #     schedule: "*/1 * * * *"
  #     command: ["bundle", "exec", "rake", "eh:do_something"]

  job_deadline: 120 # 2 mins

  job_restart_policy: OnFailure

  # Uncomment if you want to add jobs to be executed at pre-install phase
  # pre_install:
  #   run-migration: ["bundle", "exec", "rake", "db:migrate"]

  # post_install:
  #   some-job: ["cleanup"]

  # pre_upgrade:
  #   run-migration: ["bundle", "exec", "rake", "db:migrate"]

  # post_upgrade:
  #   some-job: ["cleanup"]

  # pre_rollback:
  #   run-migration: ["bundle", "exec", "rake", "db:migrate"]

  # post_rollback:
  #   some-job: ["cleanup"]

# Environment
env:
  APP_ENV: staging

# Private files
# content must be base64-encoded
# all files will be mounted at /etc/kubestore
files:
  hello.txt: SGVsbG8=
