# Kubernetes config
# Should not be updated once installed
config:
  # Path to private docker repo - required
  image_repo: private-registry.com/repo/path

  # Kubernetes service type: use NodePort by default to prevent unauthorized request
  # @see http://kubernetes.io/docs/user-guide/services/
  service_type: NodePort

  # resources request
  cpu_request: 10m
  memory_request: 20Mi

  # port to be exposed in `web` container
  containerPort: 3000

# App info
app:
  # app name (you don't say?) - required
  name: app-name

  # app version - required
  version: 1.0.0

  # host name to be used with Traefik proxy
  # app can be accessed at http://some.host.com/<app-name>
  host: some.host.com

  # Uncomment if you want to add worker containers
  # The `web` container will always be created
  # workers:
  #   notification_job: ["bundle", "exec", "sidekiq", "-r", "/app/lib/eh_notification.rb", "/app/config/sidekiq.rb"]
  #   send_mail_job: ["bundle", "exec", "sidekiq", "-r", "/app/lib/send_mail.rb", "/app/config/sidekiq.rb"]
  #   will_not_be_included:

# Environment
env:
  APP_ENV: staging
