apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.app.name }}
  labels:
    app: {{ .Values.app.name }}
    chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    release: "{{ .Release.Name }}"
    heritage: "{{ .Release.Service }}"
    k8s-addon: ingress-nginx.addons.k8s.io
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: {{ .Values.config.elb_ssl_cert | quote }}
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: {{ .Values.config.elb_ssl_protocol }}
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: {{ .Values.config.elb_ssl_port }}

spec:
  type: {{ .Values.config.service_type }}
  selector:
    app: {{ .Values.app.name }}
  ports:
  - port: 80
    targetPort: 8000
    name: proxy
  - port: 443
    targetPort: 8443
    name: proxy-ssl
  - port: 8001
    targetPort: 8001
    name: admin
  - port: 7946
    targetPort: 7946
    name: cluster
